streamlit~=1.42.1
pip~=25.0.1
attrs~=25.1.0
protobuf~=5.29.3
pillow~=11.1.0
requests~=2.32.3
mysql~=0.0.3
mysql-connector-python~=9.2.0
websocket-client~=1.8.0
eventlet~=0.39.0
Flask~=3.1.0
Flask-SocketIO~=5.5.1
ttkthemes~=3.2.2
docx~=0.2.4
python-docx~=1.1.2
cx_Freeze~=7.2.10
pandas~=2.2.3
numpy~=2.2.3
scikit-learn~=1.6.1
imblearn~=0.0
imbalanced-learn~=0.13.0
distro~=1.9.0
fuzzywuzzy~=0.18.0
joblib~=1.4.2